:root{
    --title-font: "Sunshiney";
    --body-font: "BreeSerif";
    --title-color: #1A2A80;
    --body-color: #FFFFFF;
    --bkg-color: #7A85C1;
    --high-priority: #FF0C10;
    --medium-priority: #FF7018;
    --low-priority: #4CEB03;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--bkg-color);
    padding: 25px;
    margin-bottom: 200px;
    color: var(--body-color)
}
