:root{
    --title-font: "Sunshiney";
    --body-font: "BreeSerif";
    --title-color: #C2A68C;
    --body-color: #FFFFFF;
    --bkg-color: #7A85C1;
    --high-priority: #FF0C10;
    --medium-priority: #FF7018;
    --low-priority: #4CEB03;
}

.main-display{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px;
}
.dateContainer{
    text-align: center;
    display: flex;
}

.dateContainer-li{
    list-style: none;
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateContainer p{
    font-size: 2rem;
    font-family: var(--body-font);
    color: var(--title-color)
}

.dateContainer{
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateContainer img{
    height: 43px;
    width: 48px;
}

.add-img{
    height: 93px;
    width: 76px;
}

.add{
    background-color: rgba(255, 255, 255, 0.1);
    border-style: dashed;
    border-color: var(--title-color);
    padding: 10px;
    grid-column: 5/6;
}

.add img{
    height: 93px;
    width: 76px;
}

.groups{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: dashed;
    border-color: var(--title-color);
    padding: 10px;
}

.group-label{
    font-size: 2rem;
    color: var(--title-color);
    font-family: var(--body-font);
}

.groups button{
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groups button img{
    height: 39px;
    width: 45px;
    margin-bottom: -10px;
}

.groups label{
    display: flex;
    justify-content: center;
    align-items: center;
}


.groups label select{
    height: 39px;
    width: 45px; 
    appearance: none;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    background-image: url("./assests/icons/arrow_downward_24dp_C2A68C_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    margin-bottom: -5px;
}

.date-filter{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    color: rgba(255, 255, 255, 0);
    visibility: hidden;
}

@media (max-width: 1100px) and (min-width: 601px){
    
    .date-and-add{
    grid-template-columns: repeat(9,1fr);
}
    .dateContainer p{
        font-size: 2rem;
    }

    .dateContainer button img{
    height: 36px;
    width: 42px;
}

.add img{
    height: 45px;
    width: 58px;
}

.dateContainer{
    grid-column: 3/9;
}

.add{
    grid-column: 9/10;
}
}

@media (max-width: 600px){

    .date-and-add{
    grid-template-columns: repeat(9,1fr);
}
    .dateContainer p{
        font-size: 0.8rem;
    }

    .dateContainer img{
    height: 19px;
    width: 21px;
}

.add img{
    height: 24px;
    width: 28px;
}

.dateContainer{
    grid-column: 3/9;
}

.add{
    grid-column: 9/10;
    width: 100%;
    height: auto;
}

.groups{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    border-style: dashed;
    border-color: var(--title-color);
}

.group-label{
    font-size: 1rem;
    color: var(--title-color);
    font-family: var(--body-font);
}

.groups label select{
    height: 24px;
    width: 20px; 
}
}